/* Contoh styling (bisa dikosongkan jika tidak perlu) */
/*
body {
    font-family: 'Arial', sans-serif;
}

.stButton>button {
    border-radius: 20px;
    border: 1px solid #6A0DAD;
    color: #6A0DAD;
}

.stButton>button:hover {
    border: 1px solid #4B0082;
    color: #FFFFFF;
    background-color: #4B0082;
}
*/